pip==9.0.1
bokeh
click
decorator
Flask
gunicorn
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
notebook
numpy
pandas
path.py
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
python-dateutil
python-nvd3
python-slugify
pytz
PyYAML
pyzmq
qtconsole
requests
Shapely
simplegeneric
six
terminado
tornado
traitlets
Unidecode
wcwidth
Werkzeug
psycopg2
sqlalchemy
